@model bacit_dotnet.MVC.Models.Users.UserViewModel
<ul>
    @foreach (var user in Model.Users)
            {
                <li>
                    Fornavnnavn: @user.emp_fname, Etternavn: @user.emp_lname , E-post: @user.emp_email , Telefon: @user.emp_phone Team-id: @user.team_id
                </li>
            }
</ul>